# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/

# Streamlit cache
.streamlit/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Large files
*.log
*.csv
*.xlsx
*.mp4
*.avi
